@import "bootstrap/scss/bootstrap-grid";

:root {
  --black: #000;
  --white: #fff;
  --gray: #eae9e6;
  --yellow: #ebca53;
  --blue: #2c5192;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 0;
  font-family: "Noto Sans";
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 30px 0 10px;
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
}

.exercise {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--black);
}

.product {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background: var(--white);
}

.product-image {
  position: relative;
}

.product-image:hover {
  .product-cart {
    opacity: 100%;
  }
  .buy {
    transform: translateY(0px);
  }
}

.product-cart {
  opacity: 0%;
  position: absolute;
  inset: auto 10px 10px;
  padding: 6px;
  background: var(--yellow);
  border: solid 1px var(--blue);
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
}

.product-cart:hover {
  background-color: #2c5192;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-size: 14px;
}

.share {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin: 50px;
}

.share-icon {
  height: 24px;
}

.share-list {
  display: flex;
  gap: 12px;
}

.buy {
  transform: translateY(-100px);
}
// ---------------------------------------------
// Votre code ici :
// ---------------------------------------------

.scissors:hover {
  background-color: #2c5192;
  h3 {
    color: #fff;
  }
  .product-price {
    color: rgb(240, 240, 240);
  }
}
.scissors {
  transition: 0.5s;
}
.sketchbook .product-image img:hover {
  transform: scale(1.3);
}
.sketchbook .product-image {
  overflow: hidden;
}
.sketchbook .product-image img {
  transition: 0.5s;
}

.glue .product-image {
  filter: blur(3px);
  transition: 0.5s;
}
.glue .product-image:hover {
  filter: blur(0px);
}

.share {
  .instagram {
    transform: translateY(-20px);
    opacity: 0%;
    transition: 0.4s;
  }
  .tiktoks {
    transform: translateY(-30px);
    opacity: 0%;
    transition: 0.8s;
  }
  .facebook {
    transform: translateY(-40px);
    opacity: 0%;
    transition: 1.2s;
  }
}

.share:hover {
  .instagram {
    opacity: 100%;
    transform: translateY(0px);
  }
  .tiktoks {
    opacity: 100%;
    transform: translateY(0px);
  }
  .facebook {
    opacity: 100%;
    transform: translateY(0px);
  }
}
